TWITTER_API_KEY="YOUR API KEY GOES HERE"
TWITTER_API_SECRET="YOUR API SECRET KEY GOES HERE"
TWITTER_ACCESS_TOKEN="YOUR ACCESS TOKEN GOES HERE"
TWITTER_ACCESS_TOKEN_SECRET="YOUR ACCESS TOKEN SECRET GOES HERE"